// HERE ALL GLOBAL STYLES ARE KEPT FOR CONVENIENCE //

.transparent-btn-border{
    width: 100%;//can be changed in context
    padding: 7px 15px;
    text-align: center;
    border: 1px solid #45aaec;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13pt;
    cursor: pointer;
}