.contact{
    width: 100%;
    font-family: 'Avenir Next';
    font-weight: 600;
    padding: 0 10%;
    margin-bottom: 50px;
}

.contact-header{
    margin-bottom: 35px;
}

.page-content{
    width: 100%;
    display: block;
    border: none;
}
.contact-info{
    font-size: 20px;
    margin-bottom: 35px;
}

.component-cont{
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    padding-top: 0;
}

.contact-elem-desc{
    font-size: 15px;
    margin-top: 3px;
    font-style: italic;
}